body{
    margin: 0;
    padding: 0;
    background: url(b.jpg);
    background-size: cover;
}
.box{
    width: 430px;
    background:#f6b4a0 ;
    padding: 4px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: #fff;
    font-family: sans-serif;
}
.box img{
    border-radius: 400%;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}
.box img:hover{
    transform: scale(0.9);
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style-type: none;
    color: rgb(255, 255, 255);
}
.box li a{
    color: rgb(255, 255, 255);
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #b02828;
}
